Repository aleksacu/advent-of-code-2020: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-imports, go-vet, go-lint, rust-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: local
    hooks:
      - id: go-imports
        name: Run goimports
        language: golang
        files: \.go$
        entry: goimports -w
        additional_dependencies: [golang.org/x/tools/cmd/goimports]

      - id: go-vet
        name: Run go vet
        language: system
        files: \.go$
        pass_filenames: false
        entry: go vet ./...

      - id: go-lint
        name: Run go lint
        language: golang
        files: \.go$
        pass_filenames: false
        entry: golint ./...
        additional_dependencies: [golang.org/x/lint/golint]

      - id: rust-fmt
        name: Cargo fmt
        language: script
        types: [rust]
        entry: ./scripts/pre-commit/cargo-fmt.sh
        pass_filenames: false

      - id: clippy
        name: Cargo clippy
        language: system
        types: [rust]
        entry: ./scripts/pre-commit/cargo-clippy.sh
        pass_filenames: false

Update day1 solution
  day1/main.go
Due: go-imports, go-vet, go-lint

Update README
  README.md
Due: none

Add add-day.sh script
  riir/Cargo.toml
  scripts/add-day.sh
Due: none

Add table of solutions
  README.md
Due: none

Add go solution for day2
  day2/.gitignore
  day2/input.txt
  day2/main.go
Due: go-imports, go-vet, go-lint

Add rust solution for day2
  README.md
  riir/Cargo.lock
  riir/Cargo.toml
  riir/day2/input.txt
  riir/day2/main.rs
Due: rust-fmt, clippy

Update pre-commit config
  .pre-commit-config.yaml
  day3/input.txt
  day3/main.py
Due: none

Add day3 implementation
  README.md
Due: none

Add rust solution for day 3
  README.md
  riir/Cargo.toml
  riir/day3/input.txt
  riir/day3/main.rs
Due: rust-fmt, clippy

Refactor day3 solution
  day3/main.py
Due: none

Add instructions for running the code
  README.md
Due: none

Add flake8 config
  .flake8
Due: none

Add day 4 solution
  day4/input.txt
  day4/main.py
Due: none

Add day 4 solution in rust
  README.md
  riir/Cargo.toml
  riir/day4/input.txt
  riir/day4/main.rs
Due: rust-fmt, clippy

Add aoc stages
  README.md
  aoc-stages.png
Due: none

Add day5 solution
  day5/input.txt
  day5/main.py
Due: none

Improve file opening for python solutions
  day3/main.py
  day4/main.py
Due: none

Add rust implementation
  riir/Cargo.toml
  riir/day5/input.txt
  riir/day5/main.rs
  riir/input.txt
Due: rust-fmt, clippy

Add day 6 solution
  day6/input.txt
  day6/main.py
Due: none

Add rust solution for day6
  README.md
  riir/Cargo.toml
  riir/day6/input.txt
  riir/day6/main.rs
Due: rust-fmt, clippy

Add badges
  README.md
Due: none

.
  .pre-commit-config.yaml
Due: none

Test golint
  .pre-commit-config.yaml
Due: none

Fix clippy hook type
  .pre-commit-config.yaml
Due: none

Add solution for day 7
  day7/input.txt
  day7/main.py
Due: none

Remove misplaced input.txt and update add-day script
  riir/input.txt
  scripts/add-day.sh
Due: none

Add day 8 solution
  day8/input.txt
  day8/main.py
Due: none

Add day 9 solution
  README.md
  day9/input.txt
  day9/main.py
Due: none

Add day 10 solution
  README.md
  day10/input.txt
  day10/main.py
Due: none

Rename soultions for days 1-9
  README.md
  day01/.gitignore
  day01/input.txt
  day01/main.go
  day02/.gitignore
  day02/input.txt
  day02/main.go
  day03/input.txt
  day03/main.py
  day04/input.txt
  day04/main.py
  day05/input.txt
  day05/main.py
  day06/input.txt
  day06/main.py
  day07/input.txt
  day07/main.py
  day08/input.txt
  day08/main.py
  day09/input.txt
  day09/main.py
  riir/Cargo.toml
  riir/day01/input.txt
  riir/day01/main.rs
  riir/day02/input.txt
  riir/day02/main.rs
  riir/day03/input.txt
  riir/day03/main.rs
  riir/day04/input.txt
  riir/day04/main.rs
  riir/day05/input.txt
  riir/day05/main.rs
  riir/day06/input.txt
  riir/day06/main.rs
Due: go-imports, go-vet, go-lint, rust-fmt, clippy
